<?xml version="1.0"?>
<!--
		This is just a minimal sample configuration file that shows how to declare
		the configuration sections.
		
		Because an XML Schema Definition (XSD) is generated for each configuration
		section, it should be trivial to edit these files because you have
		IntelliSense on the XML definition.
		-->
<configuration>
  <configSections>
    <section name="Figaro" type="Figaro.Configuration.FigaroSection"/>
  </configSections>
  
  <Figaro xmlns="http://schemas.bdbxml.net/configuration/6.0/CDS">
    <DefaultContainerSettings allowCreate="true" allowValidation="false" checksum="false"
        compression="false" containerType="WholeDocContainer"
        exclusiveCreate="false" indexNodes="On" pageSize="1024" sequenceIncrement="1"
        statistics="On" />    
    <Managers>      
      <XmlManager defaultContainerType="NodeContainer" defaultPageSize="1024"
                  defaultSequenceIncrement="1" name="FirstManager" options="AllOptions">
              
      </XmlManager>
    </Managers>
  </Figaro>
  <!-- Figaro DS-->
  <!--<Figaro xmlns="http://schemas.bdbxml.net/configuration/2.5/">
    <DefaultContainerSettings allowCreate="true" allowValidation="false" checksum="false"
        compression="false" containerType="WholeDocContainer"
        exclusiveCreate="false" indexNodes="On" pageSize="1024" sequenceIncrement="1"
        statistics="On" />
    <Managers>
      <XmlManager defaultContainerType="NodeContainer" defaultPageSize="1024"
                  defaultSequenceIncrement="1" name="FirstManager" options="AllOptions">
        -->
  <!-- Specify containers managed by this XmlManager instance-->
  <!--
        <Containers>
          <Container name="myDatabase"/>
        </Containers>
        -->
  <!-- data directories for the XMLManager to find containers in. -->
  <!--
        <DataDirectories>
          <Directory create="true" path="~/App_Data"/>
          <Directory create="true" path="%DBXML%\data"/>
        </DataDirectories>
        -->
  <!-- Information used for cataloging and preparing XQuery expressions to be run 
        against the containers. -->
  <!--
        <Queries>
          <Query name="query1" prepare="true" queryPath="~/query.xq">
            <Namespaces/>
            <Variables/>
          </Query>
        </Queries>
        <DefaultContainerSettings/>
      </XmlManager>
    </Managers>
  </Figaro>-->

  <!--<Figaro xmlns="http://schemas.bdbxml.net/configuration/2.5/">
    <Environments>
      <FigaroEnv name="test" threadCount="4">
        <Cache bytes="100" gigaBytes="1" regions="4"/>
        <CacheMax bytes="200" gigaBytes="2" />
        <DataDirectories>
          <Directory path="C:\dev\"/>          
        </DataDirectories>
        <Encryption enabled="false" password="test234"/>
        <EnvConfig>
          <ConfigItem enabled="false" setting="AutoCommit"/>
          <ConfigItem enabled="true" setting="AutoLogRemove"/>
        </EnvConfig>
        <Locking autoDetect="true" detectType="MinWrite" partitions="123" maxLockers="9999" maxLockObjects="99999" maxLocks="13122" timeout="231"/>
        <Log bufferSize="14234" directory="C:\log" logOptions="Direct DSync AutoRemove" maxFileSize="99999" maxRegionSize="1324132"/>
        <MemoryFileMap maxFileDescriptors="213123" maxFileMapSize="2342434" maxWriteOperations="3423423" writeSleep="23423"/>
        <TempDirectory path="C:\temp"/>
        <Mutex align="4" increment="234" tasSpinCount="999"/>
        <Open home="C:\dev\home" options="InitReplication InitTransaction TransactionDefaults Recover"/>
        <Tracing category="Indexer" level="Debug" messageFile="C:\temp\msg.log" errorFile="C:\temp\err.log"/>
        <Transactions maxTransactions="555" timeout="99999"/>
      </FigaroEnv>
    </Environments>
    <Managers>
      <XmlManager defaultContainerType="WholeDocContainer" defaultPageSize="123" defaultSequenceIncrement="2" env="foo" name="test" options="AllowExternalAccess AllowAutoOpen">
        <Queries>
          <Query name="test1" prepare="false" queryPath="~/groceries.xq">
            <Namespaces>
              <add prefix="ns0" value="http://dundee"/>
            </Namespaces>
            <Variables>
            </Variables>
          </Query>
        </Queries>
      </XmlManager>
    </Managers>
	</Figaro>-->
</configuration>
